.hero {
  background-size: cover;
  background-position: top center;
  padding: 50px 0;
  position: relative;
  z-index: 2;

  .button {
    margin-top: 25px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
}

.hero__content {
  position: relative;
  z-index: 10;
}

@include for-tablet-portrait-up {
  .hero {
    height: 400px;
    padding: 70px 0;
    display: flex;
    align-items: flex-end;
  }

  .hero__content {
    max-width: 720px;
  }
}

@include for-tablet-landscape-up {
  .hero--large {
    height: calc(100vh - 227px);
  }
}