.content-section {
  padding: var(--spacing-6) 0;
}

.content-section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  + * {
    margin-top: var(--spacing-4);
  }
}